#services{
    background: #0d0d0d;
    padding: 150px 0;
}
#services h2{
    text-align: center;
    
}
#services h1{
    margin-top: 40px;
    text-align: center;
}
.service{
    width: 50%;
    margin: 0 auto;
    text-align: center;
}
.service p {
    margin-top: 40px;
    color: rgba(255,255,255,.5);
}
.services-btns{
    width: 100%;
    text-align: center;
    margin-top: 50px;
}
.services-btns button{
    border: none;
    background: transparent;
    font-size: 20px;
    margin: 20px;
    font-weight: bold;
    font-family: copperplate, serif;
    letter-spacing: 1px;
    color: rgba(255,255,255,.5);
    outline: 0;
    cursor: pointer;
}
.services-btns button.active{
    color: #fff;
}
@media screen and (max-width: 1132px){
    #services{
        padding: 80px 0;
    }
    #services h2{
        padding: 0;
        text-align: center;
    }
}
@media screen and (max-width: 830px){
    .service{
        width: 70%;
    }
}