/* 
Baskerville Regular 
  font-family: baskerville-urw, serif;
  font-weight: 400;
  font-style: normal;
Baskerville Italic
  font-family: baskerville-urw, serif;
  font-weight: 400;
  font-style: italic;
CopperPlate Bold
  font-family: copperplate, serif;
  font-weight: 700;
  font-style: normal;
*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}
h1{
  font-size: 30px;
}
h3{
  letter-spacing: 1px;
  line-height: 25px;
}
h1,h2,h3{
  font-family: copperplate, serif;
  font-weight: 700;
  font-style: normal;
}
a{
  text-decoration: none;
  color: #fff;
}
p{
  font-size: 22px;
  margin-top: 20px;
  font-family: baskerville-urw, serif;
  font-weight: 400;
  font-style: normal;
}
.vertical-line{
  width: 2px;
  height: 30px;
  background-color: #bfa150;
  margin: 15px auto;
}
.font-ital{
  font-size: 20px;
  font-family: baskerville-urw, serif;
  font-style: italic;
}
.top-bot-pad{
  padding: 80px 0;
}
.two-columns{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 10%;
}
.two-full-columns{
  width: 100%;
  padding: 80px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.column-40{
  width: 40%;
}
.column-40 img{
  width: 100%;
  display: block;
}
.column-45{
  width: 45%;
}
.column-45 img{
  width: 100%;
  display: block;
}
.column-50{
  width: 50%;
}
.column-50 img{
  width: 100%;
  display: block;
}
.left-pad-10{
  padding-left: 10%;
}
.right-pad-10{
  padding-right: 10%;
}
.top-pad{
  padding-top: 60px;
}
@media screen and (max-width: 1132px){
  .two-columns{
    flex-direction: column;
    padding: 60px 0;
  }
  .two-full-columns{
    flex-direction: column;
    padding: 60px 0;
  }
  .column-40{
    width: 90%;
  }
  .column-45{
    width: 90%;
  }
  .column-50{
    width: 90%;
  }

}
@media screen and (max-width: 950px){
  h1{
    font-size: 25px;
  }
  h2{
    font-size: 21px;
  }
  h3{
    font-size: 18px;
  }
  a{
    font-size: 15px;
  }
  p{
    font-size: 18px;
  }
}
@media screen and (max-width: 500px){
  h1{
    font-size: 20px;
  }
  h2{
    font-size: 17px;
  }
  h3{
    font-size: 14px;
  }
  a{
    font-size: 14px;
  }
  p{
    font-size: 16px;
    margin-top: 5px;
  }
}